.active {
  font-size: 17px;
  border-radius: 7px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 7px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border-color: #feffff;
  margin-top: 10px;
}

.notActive {
  font-size: 17px;
  border-radius: 7px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 7px;
  background-color: #384bb9;
  color: white;
  border-color: #8796a6;
}

.notActive:hover {
  background-color: #26337c;
  border-color: white;
}
