.input {
  font-size: 20px;
  border-radius: 5px;
  border-style: solid;
  width: 500px;
}

.btn {
  margin-left: 12px;
  font-size: 17px;
  border-style: solid;
}

.btn:hover {
  border-color: aliceblue;
  border-width: 1px;
  background-color: #0a0f5b;
}

.toDoListItems {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 24px;
  padding: 6px;
  font-size: 19px;
  margin-top: 15px;
  color: #ffffff;
  list-style-type: ' # ';
  font-weight: 600;
}

.toDoListItems:hover {
  background: #c2c2c2;
  border-radius: 6px;
  color: rgb(0, 0, 0);
  border-color: #ffffff;
  transition: 0.2s;

}

.close {
  color: gray;
  text-decoration: line-through;
}

.time {
  border-radius: 10px;
  font-size: 18px;
  padding: 7px;
  background-color: #273ebf;
  border-color: aliceblue;
  color: white;
  cursor: pointer;
}

.time:hover {
  background: linear-gradient(#010617, #080a21, #181c54, #2b3677, #406691);
  color: azure;
  transition: 0.75s;
  font-size: 18px;
}

.cancel {
  margin-right: 10px;
  border-radius: 10px;
  background-color: #346cfa;
  color: white;
  border-style: solid;
  border-color: white;
}

.global {
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.link {
  font-size: 20px;
  background: linear-gradient(#010617, #080a21, #181c54, #2b3677, #406691);
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
}

.button {
  font-size: 18px;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 8px;
  background-color: #273ebf;

  color: aliceblue;
}

.button:hover {
  background-color: rgb(19, 28, 161);
  border-color: aliceblue;
  transition: 0.35s;
}

.buttonPagesActive {
  font-size: 17px;
  border-radius: 7px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 7px;
  background-color: #000000;
  color: white;
  border-color: #ffffff;
}

.buttonPagesNot {
  font-size: 17px;
  border-radius: 7px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 7px;
  background-color: #384bb9;
  color: white;
  border-color: #8796a6;
}

.buttonPagesNot:hover {
  transition: 0.35s;
  background-color: #25317a;
  border-color: #ffffff;
}
