

.li {
  font-size: 18px;
  padding: 15px;
  margin-top: 10px;
}

.li:hover {
  background: #c2c2c2;
  border-radius: 6px;
  color: rgb(0, 0, 0);
}

.button {
  border-radius: 10px;
  margin: 5px;
  font-size: 18px;
  padding: 7px;
  background: linear-gradient(#010617, #080a21, #181c54, #2b3677, #406691);
  color: white;
}

.buttonTime {
  float: right;
  border-radius: 15px;
  margin: 5px;
  margin-top: -10px;
  font-size: 18px;
  padding: 7px;
  background: linear-gradient(#010617, #080a21, #181c54, #2b3677, #406691);
  color: white;
  
}

.buttonTime:hover {
  background: linear-gradient(#010617, #080a21, #181c54, #2b3677, #406691);
  color: azure;
  transition: 0.75s;
  font-size: 19px;
}
